# Ignore .env files
.env

# Ignore virtual environment folder
.venv/

# Ignore data folder
models/
src/data/

permanent_storage/

# Ignore quant-h2_website folder
quant-h2_website/

# Ignore terraform folder
terraform/
